﻿@model IEnumerable<Sisnet.Models.Inventario.ProductoHardDrive>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Administrar</h2>
        <ol class="breadcrumb">

            <li>
                <a>Discos Duros</a>
            </li>
            <li class="active">
                <strong>Lista</strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">
        <br />
        <a class="btn btn-primary btn-lg" href="@Url.Action("Create","ProductoHardDrive")"> Nuevo </a>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Discos Duros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreProducto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PrecioProducto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SKU)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.marca)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Modelo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.numSerie)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Capacidad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Existencia)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Puerto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Velocidad)
                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreProducto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecioProducto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SKU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.marca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modelo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.numSerie)
                                    </td>
                                    <th>
                                        @Html.DisplayFor(model => item.Capacidad)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Existencia)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Puerto)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Type)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Velocidad)
                                    </th>
                                    <td>
                                        <span class="btn btn-warning dim"><i class="fa fa-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = item.IdProducto }) </span>
                                        <span class="btn btn-info dim">
                                            <i class="fa fa-eye"></i> @Html.ActionLink("Details", "Details", new { id = item.IdProducto })
                                        </span>
                                        <span class="btn btn-danger dim"><i class="fa fa-trash"></i>@Html.ActionLink("Delete", "Delete", new { id = item.IdProducto })</span>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreProducto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PrecioProducto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SKU)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.marca)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Modelo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.numSerie)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Capacidad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Existencia)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Puerto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Velocidad)
                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No hay registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin registros",
                    "search": "Buscar",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }

            });
        });
    </script>
}
