﻿@model Sisnet.Models.Personas.Cliente
@{
    ViewBag.Title = "MisPedidos";
    Layout = "~/Views/Shared/_frontendLayout.cshtml";
}

<div class="carrito">
    <div class="wrap">

        <div class="col_1_of_2 span_2_of_3">

            <h4 class="title">Historial Pedidos</h4>
            <table>
                <tr>
                    <th>Folio</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
                @foreach (var item in Model.HistorialPedidos)
                {
                    <tr>
                        <td>@item.FolioPedido</td>
                        <td>$@item.Total</td>
                        <td>@item.Estado</td>
                    </tr>

                }

            </table>            
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>

    <div class="col_1_of_2">


        <a href="@Url.Action("Inicio","Home")"><button class="grey">Regresar al inicio</button></a>



    </div>
</div>
