﻿@using Sisnet.Models.Carrito
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_frontendLayout.cshtml";
}
<div class="carrito">
    <div class="wrap">
       
        <div class="col_1_of_2 span_2_of_3">
            @if (Session["Carrito"] != null)
            {
                <h4 class="title">Carrito</h4>
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Subtotal</th>
                    </tr>
                    @foreach (var item in Session["Carrito"] as List<ItemCarrito>)
                    {
                        <tr>
                            <td>@item.Producto.NombreProducto</td>
                            <td>@item.Cantidad</td>
                            <td>$@item.Producto.PrecioProducto</td>
                            <td>$@(item.Cantidad * item.Producto.PrecioProducto)</td>
                        </tr>

                    }

                </table>

            }
            else
            {

                <h4 class="title">Actualmente tu carrito está vacío, prueba añadiendo más productos.</h4>
            }
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>

    <div class="col_1_of_2">

        @if (Session["Carrito"] != null)
        {
            <a href="@Url.Action("ConfirmarPedido","Carrito")" ><button class="grey">Confirmar Compra</button></a>
            <p class="terms">Al presionar 'Enviar' aceptas nuestros  <a href="#">Términos &amp; Condiciones</a>.</p>

        }

    </div>
    </div>
