﻿<!DOCTYPE HTML>
<html>
<head>
    <title>SISNET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <!-- start menu -->
    <link href="~/Content/frontend/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/frontend/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!-- end menu -->
    <script type="text/javascript" src="~/Scripts/frontend/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!-- top scrolling -->
    <script type="text/javascript" src="~/Scripts/frontend/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/frontend/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>
</head>
<body>
    <div class="header-top">
        <div class="wrap">
            <div class="logo">
                <a href="~/Home/Inicio"><img src="~/Content/frontend/images/logo.png" alt="" /></a>
            </div>
            <div class="cssmenu">
                <ul>

                    @if (!Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Register","Account")">¡Regístrate ya!</a></li>
                        <li>
                            <a href="@Url.Action("Login", "Account")"> LogIn </a>
                        </li>
                    }
                    else
                    {

                        <li>

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <a style="text-decoration:none;" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Log out</a>

                            }
                        </li>


                    }
                    <li><a href="@Url.Action("Index","Carrito")">Carrito</a></li>
                    @if (!Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Contact", "Home")">Contáctanos</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("MisPedidos", "Clientes")">Mis pedidos</a></li>

                    }
                </ul>
            </div>
           
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li><a class="color1" href="@Url.Action("Inicio","Home")">Inicio</a></li>
                <li class="grid">
                    <a class="color2" href="#">Monitores</a>
                    <div class="megapanel">
                        <div class="row">
                            
                        </div>
                    </div>
                </li>
                <li class="active grid">
                    <a class="color4" href="#">Periféricos</a>
                    <div class="megapanel">
                        <div class="row">
                           
                        </div>
                        <div class="row">
                           
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color5" href="#">Discos duros</a>
                    <div class="megapanel">
                        <div class="row">
                        
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color6" href="#">Procesadores</a>
                    <div class="megapanel">
                        <div class="row">
                           
                        </div>
                        <div class="row">
                          
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color7" href="#">Memorias</a>
                    <div class="megapanel">
                        <div class="row">
                          
                        </div>
                        <div class="row">
                          
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color8" href="#">Gabinetes</a>
                    <div class="megapanel">
                        <div class="row">
                          
                        </div>
                </li>
              



            </ul>
            <div class="clear"></div>
        </div>
    </div>
   
    <div class="main">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><img src="~/Content/frontend/images/f_icon.png" alt="" /><span class="delivery">Envío gratis en compras de +$1000</span></li>
                    </ul>
                </div>
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><img src="~/Content/frontend/images/f_icon1.png" alt="" /><span class="delivery">Servicio de atención a clientes :<span class="orange"> (998) 2245698</span></span></li>
                    </ul>
                </div>
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><img src="~/Content/frontend/images/f_icon2.png" alt="" /><span class="delivery">Satisfacción garantizada</span></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="copy">
            <div class="wrap">
                <p>© All rights reserved | &nbsp;<a href="http://w3layouts.com/"> SISNET</a></p>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {

                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };


                $().UItoTop({ easingType: 'easeOutQuart' });

            });


        </script>

    }
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>