﻿
<li class="">
    <a href="@Url.Action("Index","Home")"> <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> </a>
</li>

<li>
    <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Productos</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li>
            <a href="@Url.Action("Index","ProductoMonitors")"> Pantallas </a>
        </li>
        <li>
            <a href="@Url.Action("Index","ProductoProcesadors")"> Procesadores </a>
        </li>
        <li>
            <a href="@Url.Action("Index","ProductoHardDrive")"> Discos Duros </a>
        </li>
        <li>
            <a href="@Url.Action("Index","ProductoMemorias")"> Memorias </a>
        </li>
        <li>
            <a href="@Url.Action("Index","ProductoPerifericoes")"> Perifericos </a>
        </li>
        <li>
            <a href="@Url.Action("Index","ProductoGabinetes")"> Gabinetes </a>
        </li>
    </ul>
</li>

