﻿@model Sisnet.Models.Inventario.ProductoMonitor

@{
    ViewBag.Title = "Delete";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalle de productos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Productos</a>
            </li>
            <li>
                <a>Pantallas</a>
            </li>
            <li class="active">
                <strong>Eliminar pantalla</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <br />
        <a class="btn btn-danger btn-lg" href="@Url.Action("Index","ProductoMonitors")"> Cancelar </a>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-md-8">
                            <h2 class="font-bold m-b-xs">
                              ¿Está seguro de borrar este producto?
                            </h2>
                            <h2 class="font-bold m-b-xs">
                                @Html.DisplayFor(model => model.NombreProducto) | Modelo : @Model.Modelo
                            </h2>
                            <small>@Model.marca</small>
                            <hr>
                            <div class="m-t-md">
                                <h2 class="product-main-price">$@Model.PrecioProducto <small class="text-muted">Precio público</small> </h2>
                            </div>


                            <h4>Descripción</h4>

                            <div class="small text-muted">
                                @Model.Descripcion

                                <br>

                            </div>
                            <dl class="small m-t-md">
                                <dt>@Html.DisplayNameFor(model => model.SalidasVideo)</dt>
                                <dd>@Model.SalidasVideo</dd>
                                <dt>@Html.DisplayNameFor(model => model.Resolution)</dt>
                                <dd>@Model.Resolution</dd>
                                <dt>@Html.DisplayNameFor(model => model.SKU)</dt>
                                <dd>@Model.SKU</dd>
                                <dt>@Html.DisplayNameFor(model => model.Tamanio)</dt>
                                <dd>@Model.Tamanio</dd>
                                <dt>@Html.DisplayNameFor(model => model.Color)</dt>
                                <dd>@Model.Color</dd>
                            </dl>
                            <hr />

                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-actions ">
                        <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i>&nbsp;Eliminar</button>
                        <a class="btn btn-white" href="@Url.Action("Index","ProductoMonitors")"> Regresar a la lista </a>
                    </div>
                    }
                </div>
                <div class="ibox-footer">
                    <span class="pull-right">
                        Full stock - <i class="fa fa-clock-o"></i> @DateTime.Now
                    </span>
                    Sin imágenes añadidas.
                </div>
            </div>

        </div>
    </div>

</div>


