﻿
@{
    ViewBag.Title = "ShopMonitor";
    Layout = "~/Views/Shared/_frontendLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/frontend/css/form.css" />
<div class="login">
    <div class="wrap">
        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                <h4>Precio</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Opcion</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Opcion</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Opcion</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Opcion</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Opcion</label>
                    </div>
                </div>
               
            </section>

        </div>
        <div class="cont span_2_of_3">
            <div class="mens-toolbar">
                <div class="sort">
                    <div class="sort-by">
                        <label>Sort By</label>
                        <select>
                            <option value="">
                                Popularity
                            </option>
                            <option value="">
                                Price : High to Low
                            </option>
                            <option value="">
                                Price : Low to High
                            </option>
                        </select>
                        <a href=""><img src="images/arrow2.gif" alt="" class="v-middle"></a>
                    </div>
                </div>
                <div class="pager">
                    <div class="limiter visible-desktop">
                        <label>Show</label>
                        <select>
                            <option value="" selected="selected">
                                9
                            </option>
                            <option value="">
                                15
                            </option>
                            <option value="">
                                30
                            </option>
                        </select> per page
                    </div>
                    <ul class="dc_pagination dc_paginationA dc_paginationA06">
                        <li><a href="#" class="previous">Pages</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="box1">
                @foreach (var item in Model)
                {
                    <div class="col_1_of_single1 span_1_of_single1">
                        <div class="view1 view-fifth1">
                            <div class="top_box">
                                <h3 class="m_1">@item.NombreProducto</h3>
                                <p class="m_2">@item.marca|@item.Tamanio</p>
                                <div class="grid_img">
                                    <div class="css3"><img src="~/images/@item.ImagenProducto.FileName" alt="" /></div>
                                    <div class="mask1">
                                        <div class="info">Ver más</div>
                                    </div>
                                </div>
                                <div class="price">$ @item.PrecioProducto</div>
                            </div>
                        </div>

                        <ul class="list2">
                            <li>
                                <img src="~/Content/frontend/images/plus.png" alt="" />
                                <ul class="icon1 sub-icon1 profile_img">
                                    <li>
                                        <a class="active-icon c1" href="#" onclick="addProducto('@item.IdProducto');">Añadir </a>
                                        <ul class="sub-icon1 list">
                                            <li><h3></h3><a href=""></a></li>
                                            <li><p>@item.Descripcion</p></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                }
                <div class="clear"></div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">

      function addProducto(idproducto) {
          $.ajax({
              url: "@Url.Action("agregarProducto","Carrito")",
              data: { idProducto: idproducto, cantidad: 1 },
              type: "post",
              success: function (response) {
                  alert("Producto añadido con éxito")
              },
              error: function (err, error) {
                  alert(error)
              }

          });

        }

    </script>

}

