﻿@using Sisnet.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">SISNET</h2>

            <p>
                Iniciar sesión.
            </p>

            <p>
                SISNET
            </p>

            <p>
                Si usted olvidó su contraseña, contacte a su administrador de sistema.
            </p>

            <p>
                <small>"Comienza a disfrutar de nuestros beneficios"</small>
            </p>

        </div>
        <div class="col-md-6">
            <section id="loginForm" class="ui-sortable-handle">
                <div class="ibox-content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Usuario" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
                        </div>
                        <div class="form-group">

                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "i-checks" })
                            @Html.LabelFor(m => m.RememberMe,new { @class="form-control" })


                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="#">
                            <small>¿Olvidaste tu contraseña?</small>
                        </a>


                        <a class="btn btn-sm btn-white btn-block" href="#">Contactar a un administrador</a>

                    }
                </div>
            </section>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            SISNET
        </div>
        <div class="col-md-6 text-right">
            <small>© 2018</small>
        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $('body').addClass('gray-bg')
        });
    </script>
}