﻿@model Sisnet.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_frontendLayout.cshtml";
}

<div class="register_account">
    <div class="wrap">
        <h4 class="title">Crear cuenta</h4>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
        {
           
        <div class="col_1_of_2 span_1_of_2">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div>@Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })</div>
            <div> @Html.PasswordFor(m => m.Password, new { placeholder = "Contraseña" })</div>
            @Html.ValidationMessageFor(m => m.Password)

            <div>@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirmar contraseña" })</div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <div>@Html.TextBoxFor(m => m.userName, new { placeholder = "Nombre de usuario" })</div>

        </div>
        <div class="col_1_of_2 span_1_of_2">
            <div>@Html.TextBoxFor(m => m.Cliente.nombre, new { placeholder = "Nombre" })</div>
            <div>@Html.TextBoxFor(m => m.Cliente.apellidoPaterno, new { placeholder = "Apellido Paterno" })</div>
            <div>@Html.TextBoxFor(m => m.Cliente.apellidoMaterno, new { placeholder = "Apellido Materno" })</div>
            <div>@Html.TextBoxFor(m => m.Cliente.CURP, new { placeholder = "CURP" })</div>
            <div>@Html.TextBoxFor(m => m.Cliente.RFC, new { placeholder = "RFC" })</div>
            

        </div>

            <button class="grey" type="submit" value="Registrarse">Crear cuenta</button>
            <p class="terms">Al dar click en "Crear cuenta", aceptas nuestros términos y condiciones.</p>
            <div class="clear"></div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
